:root{
    --white : hsl(0, 0%, 100%);
    --light_grey:hsl(217, 12%, 63%);
    --medium_grey :hsl(216, 12%, 54%);
    --light_blue : hsl(214, 21%, 30%);
    --dark_blue : hsl(213, 19%, 18%);
    --medium_dark_blue : hsl(215, 23%, 10%);
    --very_dark_blue : hsl(216, 12%, 8%);
    --orange :hsl(25, 97%, 53%)
}

p{
    font-family: 'Overpass', sans-serif;
    font-size: .8vw;
    font-weight: 400;
}
h1{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;

}
body{
    background-color: var(--very_dark_blue);
    color: var(--white);
    margin : 0;
    padding : 0;
}

.main{
    border-radius: 30px;
    margin : 25vh auto;
    width: 25vw;
    height : 70%;
    background-image: radial-gradient(circle at top, var(--dark_blue) , var(--medium_dark_blue));
    padding:2%;
    transition: .3s ease-in-out;
}
.star{
    background-color: var(--dark_blue);
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    padding: 3%;
}

.rating p{
    color : var(--light_grey);
}
.rate{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 5%;
}
.rate button{
    display: flex;
    border : 0;
    width: 3vw;
    height: 3vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin : 0 1vw;
    background-color: var(--dark_blue);
    border-radius: 50%;
}
.rate p{
    color: var(--medium_grey);
}
.rate button:hover{
    background-color: var(--orange);
}
.rate button:hover p{
    color: var(--white);
}
.rate button:focus p{
    color: var(--white);
}

.rate button:focus{
    background-color: var(--medium_grey) ;
}

.turn{
    transform: rotateY(180deg);
}


.submit{
    position: relative;
    background-color: var(--orange);
    border : 0;
    color : var(--white);
    width: 25.5vw;
    padding : 2% 0;
    border-radius: 50px;
    font-size: 1.4vw;
    letter-spacing: .25vw;
    
}
.submit:hover{
    background-color: var(--white);
    color: var(--orange);
}
.submit:active{
    background-color: var(--white);
    color: var(--orange);
}

.thank-you{
    text-align: center;
    position: absolute;
    transform: scale(0);
}
.main.turn .thank-you{
    position: inherit;
    transform: scale(1);
    transition: .5s ease-in-out;
}

.thank-you h1{
    transform: rotateY(180deg);
}
.thank-you p{
    color: var(--medium_grey);
    transform: rotateY(180deg);
}
.feedback p{
    background-color: var(--dark_blue);
    color: var(--orange);
    padding: 2%;
    border-radius: 50px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.thank-you .svg{
    margin: 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thank-you svg{
 transform: scale(0.75);
 transform: rotateY(180deg);
}

footer{
    color: var(--medium_grey);
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
@media (max-width:900px){
    p{
        font-size: 1.2vw;
    }
    h1{
        font-size: 3vw;
    }
    .main{
        width: 40vw;
    }
    .submit{
        width: 40vw;
    }
    .rate button{
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
        margin : 1.5vw;
    }
}
@media (max-width:430px) {
    .rate button{
        width : 8vw;
        height : 8vw;
        font-size: 2vw;
        margin: 0 3vw;
    }
    .rating h1{
        font-size: 4vw;
    }
    .rating p{
        font-size: 3vw;
    }
    .feedback p{
        font-size: 4vw;
    }
    .submit{
        width: 72vw;
        padding: 0 inherit;
        left: 4vw;
        font-size: 2vw;
    }
    .main{
        width: 80vw;
    }
}